<section class="nav">
    <div class="nav-wrapper">
      <div class="logo-wrapper">
        <a href="/orders"><img src="../images/logo.png" alt=""></a>
      </div>
      <ul class="nav-items">
        <li><a href="/about">About</a></li>
        <li><a href="/drivers">Drivers</a></li>
      </ul>
  </div>
  </section>