<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %> 
<body>
  <%- include('./partials/nav.ejs') %> 
  <%- include('./partials/hero.ejs') %>

  <section class="about">
    <div class="card-wrapper">
        <div class="about-us">
            <img src="" alt="">
            <div class="text-wrapper">
                <h2>About Us</h2>
                <p>Established in 2021, Middleman Deliveries, is a full scale delivery service based in Harare, Zimbabwe, with future endeavours of expansion to other towns, countries & continents. Currently we deliver goods from valued local businesses such as confectionaries, and clothing stores. We are open to partnering with growing businesses, allowing them to utilize our marketing platform to broaden and expand their reach. We strive to handle our delivery services with love and care, maintainig a high level of professionalism. We believe in giving back to our community, honoring God with our funds to help encrich the lives of the less privledged.</p>
            </div>
        </div>
        <div class="del-info">
            <h2>Delivery Information</h2>
            <p>All our packages are handled with utmost care. We operate using cars driven by passionate & skilled drivers, who will provide the highest level of customer care.</p>
        </div>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %> 
    

  <script src="../main.js"></script>
</body>
</html>