<!DOCTYPE html>
<html lang="en">
<%-  include('./partials/head.ejs') %> 
<body>

    <%-  include('./partials/nav.ejs') %> 
    <%-  include('./partials/hero.ejs') %> 

    <section class="success">
        <h2>Request Has been Added Successfully!</h2>
        <a href="/orders">Click here to return to home</a>
    </section>

    <%-  include('./partials/footer.ejs') %> 
    
</body>
</html>